<app-header></app-header>
<section class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="header">
          <h3>Add Fund Details</h3>
        </div>
        <div class="body">
          <form #addFundForm="ngForm" (ngSubmit)="addDetails(addFundForm.value)">
            <div class="row clearfix">
              <div class="col-sm-12">
                
                <div class="form-group">
                  <div class="form-line">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose Owner</mat-label>
                        <mat-select [(ngModel)]="Owner" name="owner" required>
                          <mat-option *ngFor="let o of owner" [value]="o.email">
                            {{o.name + ' - ' + o.email}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                </div>
                
                <div class="form-group">
                    <div class="form-line">
                        <label for="contact">Amount</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Amount"
                        pattern="[0-9]*"
                        title="Only Numbers are allowed"
                        required
                        [(ngModel)] = "Amt"
                        name="amt"
                      ngmodel
                      #amt="ngModel"
                      />
                    </div>
                  <span *ngIf="amt.invalid && amt.touched && amt.value" style="color:red; font-size:2; text-align:center;"> Entered Amount Is Invalid</span>
                  <span *ngIf="!amt.value && amt.touched" style="color:red; font-size:2; text-align:center;">Amount Field Must be Filled</span>

                </div>

                  
                <div class="form-group">
                  <div class="form-line">
                      <label>Date</label>
                    <input
                      type="date"
                      class="form-control"
                      placeholder="Enter Date"
                      title="Only Numbers are allowed"
                      required
                      [(ngModel)] = "fundDate"
                      name="funddate"
                    ngmodel
                    #funddate="ngModel"
                    />
                    
                  </div>
                <span *ngIf="!funddate.value && funddate.touched" style="color:red; font-size:2; text-align:center;">Date Must be Selected</span>
                    </div>
                    
                   <div class="form-group">
                    <div class="form-line">
                      <label for="reason">Reason</label>
                      <input
                        type="text"
                        title="Only Characters are allowed"
                        required
                        class="form-control"
                        placeholder="Enter Reason"
                        [(ngModel)] = "fundReason"
                        name="fundreason"
                        ngModel
                        #fundreason="ngModel"
                      />
                    </div>
                                  <span *ngIf="!fundreason.value && fundreason.touched" style="color:red; font-size:2; text-align:center;">Reason Field Must be Filled</span>
                  </div>
                  
                  
<p style="color : red; text-align: center; font-size:medium">{{ err }}</p>  
                <!-- <div v-if="error !== ''" class="alert alert-danger">{{ error }}</div> -->
                <br />
                <button type="submit" class="btn btn-success waves-effect m-r-20" [disabled] = "addFundForm.invalid">Save</button>
                <button type="button" class="btn bg-red waves-effect" (click)="goBack()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

