<app-header></app-header>
<section class="content">
  <div class="container-fluid">
    <div class="block-header">
EMPLOYEE POSITIONS DETAILS&nbsp;&nbsp;  
<button type="button" class="btn bg-indigo waves-effect" (click)="onadd()" >
        <i class="material-icons">add</i>
        <span>Add Position</span>
</button>
<div align="end">
</div>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
 <ng-container matColumnDef="positionName">
    <th mat-header-cell *matHeaderCellDef> Position Name </th>
    <td mat-cell *matCellDef="let element">  {{element.positionName}} </td>
  </ng-container>

  <ng-container matColumnDef="salary">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
    <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
  </ng-container>

  <ng-container matColumnDef="responsibilities">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Responsibilities</th>
    <td mat-cell *matCellDef="let element"> {{element.responsibilities}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Update</th>

    <td mat-cell *matCellDef="let element">

      <button class="btn bg-red waves-effect">
            <i (click)="onupdate(element)" class="material-icons">create</i>
          </button>
       
    </td>

  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<h1><p style="color : red; text-align: center; font-size:30px; " *ngIf="msg">{{ msg }}</p></h1>
</div>
</div>

</section>