<app-header></app-header>

<section class="content">
    <div class="container-fluid">
        <!-- No Header Card -->

        <div class="container-fluid">
          <div class="block-header">
              <h2>COMPLAINTS</h2>
          </div>
          <br>
          <br>
          <!-- Example Tab -->
          <div class="row">
              <div *ngFor="let item of complaint_arr" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="header">
                          <h2>

                              Date: {{item.date}}

                          </h2>

                      </div>
                      <div class="body">
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs tab-nav-right" role="tablist">
                              <li role="presentation"><a>UPVOTE:{{item.upVote}}</a></li>
                              <li role="presentation"><a>DOWNVOTE:{{item.downVote}}</a></li>
                              <li role="presentation"><a>

                                <button *ngIf="item.status==0"  (click)="onprogress(item.id)" type="button" class="btn btn-warning waves-effect">IN-PROGRESS</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button *ngIf="item.status==1 || item.status==3 || item.status==2" disabled="true" type="button" class="btn btn-warning waves-effect">IN-PROGRESS</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" *ngIf="item.status==1 || item.status==0" (click)="onresolved(item.id)" class="btn btn-success waves-effect">RESOLVED</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" *ngIf="item.status==2 || item.status==3" disabled="true" class="btn btn-success waves-effect">RESOLVED</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" *ngIf="item.status==0" (click)="onrejected(item.id)" class="btn btn-danger waves-effect">REJECTED</button>
                                <button type="button" *ngIf="item.status==1 || item.status==3 || item.status==2" disabled="true" class="btn btn-danger waves-effect">REJECTED</button>
                              </a></li>
                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content">
                              <div role="tabpanel" class="tab-pane fade in active" id="home">
                                  <b>Complaint Description</b>
                                  <p>
                                   {{item.description}}
                                  </p>
                                  <b>Complainant: {{item.submitter}}</b><br>
                                  <div *ngIf="item.status==0">
                                    <b>Status:</b>
                                    <b style="color: blue"> Pending</b>
                                  </div>
                                  <div *ngIf="item.status==1">
                                    <b>Status:</b>
                                    <b style="color: orange"> In-Progress</b>
                                  </div>
                                  <div *ngIf="item.status==2">
                                    <b>Status:</b>
                                    <b style="color: green"> Resolved</b>
                                  </div>
                                  <div *ngIf="item.status==3">
                                    <b>Status:</b>
                                    <b style="color: red"> Rejected</b>
                                  </div>

                              </div>

                          </div>
                      </div>
                  </div>

              </div>
              <div>
                  <h2 align="center" style="font-size: 20px;color: red">{{msg}}</h2><br>


              </div>

          </div>
          <!-- #END# Example Tab -->



      </div>

        </div>
        <!-- #END# No Header Card -->

</section>
