<div class="theme-red">
    <!-- Page Loader -->

    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->

    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a
            href="javascript:void(0);"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          ></a>
          <a href="javascript:void(0);" class="bars"></a>
          <a class="navbar-brand" href="dashboard"><b>CITY VIEWS</b></a>
        </div>
      </div>
    </nav>
    <!-- #Top Bar -->
    <section>
      <!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
          <div class="image"></div>
          <div class="info-container">
            <div
              class="name"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ adminName }}
            </div>
            <div class="btn-group user-helper-dropdown">
              <i
                class="material-icons"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
                >keyboard_arrow_down</i
              >
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="javascript:void(0);"
                    ><button (click)="signOut()">
                      <i class="material-icons">input</i>Sign Out
                    </button></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
          <ul class="list">
            <li class="header">MAIN NAVIGATION</li>
            <li>
              <a routerLink="/dashboard">
                <i class="material-icons">home</i>
                <span>Home</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/meeting">
                <i class="material-icons">event</i>
                <span>Manage Meetings</span>
              </a>
            </li>
            <li>
              <a routerLink="/dashboard/flats">
                <i class="material-icons">account_circle</i>
                <span>Manage Flats</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/complaint">
                <i class="material-icons">assignment</i>
                <span>Manage Complaints</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/employeeposition">
                <i class="material-icons">account_circle</i>
                <span>Manage Employee Positions</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/employee">
                <i class="material-icons">face</i>
                <span>Manage Employees</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/expenses">
                <i class="material-icons">trending_up</i>
                <span>Manage Expenses</span>
              </a>
            </li>

            <li>
              <a href="/dashboard/funds">
                <i class="material-icons">trending_up</i>
                <span>Manage Funds</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/owner">
                <i class="material-icons">face</i>
                <span>Manage Owners</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/salary">
                <i class="material-icons">face</i>
                <span>Manage Salaries</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/election">
                <i class="material-icons">face</i>
                <span>Manage Elections</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/electionposition">
                <i class="material-icons">face</i>
                <span>Manage Election Positions</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="legal">
          <div class="copyright">
            <a href="javascript:void(0);">CITY VIEWS</a>.
          </div>
          <div class="version"><b>Version: </b> 1.0.0</div>
        </div>
        <!-- #Footer -->
      </aside>
    </section>
  </div>
