<div class="theme-red">
    <!-- Page Loader -->

    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->

    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a
            href="javascript:void(0);"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          ></a>
          <a href="javascript:void(0);" class="bars"></a>
          <a class="navbar-brand" href="dashboard"><b>CITY VIEWS</b></a>
        </div>
      </div>
    </nav>
    <!-- #Top Bar -->
    <section>
      <!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
          <div class="image"></div>
          <div class="info-container">
            <div
              class="name"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ adminName }}
            </div>
            <div class="btn-group user-helper-dropdown">
              <i
                class="material-icons"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
                >keyboard_arrow_down</i
              >
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="javascript:void(0);"
                    ><button (click)="signOut()">
                      <i class="material-icons">input</i>Sign Out
                    </button></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
          <ul class="list">
            <li class="header">MAIN NAVIGATION</li>
            <li>
              <a routerLink="/dashboard">
                <i class="material-icons">home</i>
                <span>Home</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/meeting">
                <i class="material-icons">event</i>
                <span>Manage Meetings</span>
              </a>
            </li>
            <li>
              <a routerLink="/dashboard/flats">
                <i class="material-icons">business</i>
                <span>Manage Flats</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/complaint">
                <i class="material-icons">assignment</i>
                <span>Manage Complaints</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/employeeposition">
                <i class="material-icons">accessibility</i>
                <span>Manage Employee Positions</span>
              </a>
            </li>

            <li>
                <a routerLink="/dashboard/maintenance">
                  <i class="material-icons">credit_card</i>
                  <span>Manage Maintenance</span>
                </a>
              </li>

            <li>
              <a routerLink="/dashboard/employee">
                <i class="material-icons">contacts</i>
                <span>Manage Employees</span>
              </a>
            </li>

            <li>
              <a href="/dashboard/income">
                <i class="material-icons">payment</i>
                <span>Manage Income</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/expenses">
                <i class="material-icons">trending_up</i>
                <span>Manage Expenses</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/funds">
                <i class="material-icons">payment</i>
                <span>Manage Funds</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/owner">
                <i class="material-icons">face</i>
                <span>Manage Owners</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/salary">
                <i class="material-icons">receipt</i>
                <span>Manage Salaries</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/election">
                <i class="material-icons">pan_tool</i>
                <span>Manage Elections</span>
              </a>
            </li>

            <li>
              <a routerLink="/dashboard/electionposition">
                <i class="material-icons">accessibility</i>
                <span>Manage Election Positions</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="legal">
          <div class="copyright">
            <a href="javascript:void(0);">CITY VIEWS</a>.
          </div>
          <div class="version"><b>Version: </b> 1.0.0</div>
        </div>
        <!-- #Footer -->
      </aside>
    </section>

    <section class="content">
      <div class="container-fluid">
          <div class="block-header">
              <h2>DASHBOARD</h2>
          </div>

          <!-- Widgets -->
          <div class="row clearfix">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box bg-pink hover-expand-effect">
                      <div class="icon">
                          <i class="material-icons">apartment</i>
                      </div>
                      <div class="content">
                          <div class="text">VACANT FLATS</div>
                          <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">{{flatcount}}</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box bg-cyan hover-expand-effect">
                      <div class="icon">
                          <i class="material-icons">face</i>
                      </div>
                      <div class="content">
                          <div class="text">HAPPY OWNERS</div>
                          <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">{{ownercount}}</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box bg-light-green hover-expand-effect">
                      <div class="icon">
                          <i class="material-icons">euro_symbol</i>
                      </div>
                      <div class="content">
                          <div class="text">EXPENSES</div>
                          <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"> {{expenses}} </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box bg-orange hover-expand-effect">
                      <div class="icon">
                          <i class="material-icons">attach_money</i>
                      </div>
                      <div class="content">
                          <div class="text">INCOMES</div>
                          <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"> {{incomes}} </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- #END# Widgets -->
          <!-- CPU Usage -->
          <!-- <div class="row clearfix">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                      <div class="header">
                          <div class="row clearfix">
                              <div class="col-xs-12 col-sm-6">
                                  <h2>CPU USAGE (%)</h2>
                              </div>
                              <div class="col-xs-12 col-sm-6 align-right">
                                  <div class="switch panel-switch-btn">
                                      <span class="m-r-10 font-12">REAL TIME</span>
                                      <label>OFF<input type="checkbox" id="realtime" checked><span class="lever switch-col-cyan"></span>ON</label>
                                  </div>
                              </div>
                          </div>
                          <ul class="header-dropdown m-r--5">
                              <li class="dropdown">
                                  <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                      <i class="material-icons">more_vert</i>
                                  </a>
                                  <ul class="dropdown-menu pull-right">
                                      <li><a href="javascript:void(0);">Action</a></li>
                                      <li><a href="javascript:void(0);">Another action</a></li>
                                      <li><a href="javascript:void(0);">Something else here</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                      <div class="body">
                          <div id="real_time_chart" class="dashboard-flot-chart"></div>
                      </div>
                  </div>
              </div>
          </div> -->
          <!-- #END# CPU Usage -->
          
          <div class="row clearfix">
              <!-- Task Info -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="card">
                      <div class="header">
                          <h2>PENDING AND IN-PROGRESS COMPLAINS</h2>
                  
                      </div>
                      <div class="body">
                          <div class="table-responsive">
                              <table class="table table-hover dashboard-task-infos">
                                  <thead>
                                      <tr>
                                          <th>Description</th>
                                          <th>Up-Votes</th>
                                          <th>Down-Votes</th>
                                          <th>Status</th>
                                          
                                      </tr>
                                  </thead>
                                  <h3>{{compmsg}}</h3>
                                  <tbody>
                                      <tr *ngFor="let item of comparr">
                                          <td> {{item.description}} </td>
                                          <td> {{item.upVote}} </td>
                                          <td> {{item.downVote}} </td>
                                          <td> {{item.status}} </td>
                                          
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div> 
                  </div>
              </div>
              <!-- #END# Task Info -->
       
          <!-- Task Info -->
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="card">
                  <div class="header">
                      <h2>UPCOMING MEETINGS</h2>
              
                  </div>
                  <div class="body">
                      <div class="table-responsive">
                          <table class="table table-hover dashboard-task-infos">
                              <thead>
                                  <tr>
                                      <th>Start Time</th>
                                      <th>End Time</th>
                                      <th>Topic</th>
                                  </tr>
                              </thead>
                              <h3>{{msg}}</h3>
                              <tbody>
                                  <tr *ngFor="let item of meetingarr">
                                      <td> {{item.startTime|date: "dd-MM-yyyy hh:mm:ss"}} </td>
                                      <td> {{item.endTime|date: "dd-MM-yyyy hh:mm:ss"}} </td>
                                      <td> {{item.topic}} </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div> 
              </div>
          </div>
          <!-- #END# Task Info -->
        </div>
      </div>
  </section>

  </div>
