<app-header></app-header>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>MONTHLY EXPENSE DETAILS</h2>
        </div>
        <br>
        <br>
        <!-- Basic Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>MONTH</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>January</td>
                                    <td><button
                                        type="button"
                                         class="btn bg-blue waves-effect"
                                         (click)="getDetails(1)"
                                         >
                                         View-Details</button></td>
                                </tr>
                                
                                <tr>
                                    <th scope="row">2</th>
                                    <td>February</td>
                                    <td><button
                                        type="button"
                                         class="btn bg-blue waves-effect"
                                         (click)="getDetails(2)"
                                         >
                                         View-Details</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>March</td>
                                    <td><button
                                        type="button"
                                         class="btn bg-blue waves-effect"
                                         (click)="getDetails(3)"
                                         >
                                         View-Details</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>April</td>
                                    <td><button
                                        type="button"
                                         class="btn bg-blue waves-effect"
                                         (click)="getDetails(4)"
                                         >
                                         View-Details</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>May</td>
                                    <td><button
                                        type="button"
                                         class="btn bg-blue waves-effect"
                                         (click)="getDetails(5)"
                                         >
                                         View-Details</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>June</td>
                                    <td><button
                                        type="button"
                                         class="btn bg-blue waves-effect"
                                         (click)="getDetails(6)"
                                         >
                                         View-Details</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td>July</td>
                                    <td><button
                                        type="button"
                                         class="btn bg-blue waves-effect"
                                         (click)="getDetails(7)"
                                         >
                                         View-Details</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">8</th>
                                    <td>August</td>
                                    <td><button
                                        type="button"
                                         class="btn bg-blue waves-effect"
                                         (click)="getDetails(8)"
                                         >
                                         View-Details</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">9</th>
                                    <td>September</td>
                                    <td><button
                                        type="button"
                                         class="btn bg-blue waves-effect"
                                         (click)="getDetails(9)"
                                         >
                                         View-Details</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">10</th>
                                    <td>October</td>
                                    <td><button
                                        type="button"
                                         class="btn bg-blue waves-effect"
                                         (click)="getDetails(10)"
                                         >
                                         View-Details</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">11</th>
                                    <td>November</td>
                                    <td><button
                                        type="button"
                                         class="btn bg-blue waves-effect"
                                         (click)="getDetails(11)"
                                         >
                                         View-Details</button></td>
                                </tr>
                                <tr>
                                    <th scope="row">12</th>
                                    <td>December</td>
                                    <td><button
                                        type="button"
                                         class="btn bg-blue waves-effect"
                                         (click)="getDetails(12)"
                                         >
                                         View-Details</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
