<app-header></app-header>
<section class="content">
    <div class="container-fluid">
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                 <b>   Update Meeting</b>
                </h2>

            </div>
            <div class="body">
                <form method="POST" #addEmpForm="ngForm" >
                    <label for="startTime">Choose Starting Time</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input #st="ngModel" required id="startTime" name="startTime" [(ngModel)]="startTime" type="text" id="startTime" class="form-control" placeholder="Enter date and time in specific format For eg. DD/MM/YYYY HH:MM:SS">
                        </div>
                        <div [hidden]="st.valid || st.untouched">
                            <div [hidden]="!st.errors?.required"  class="text-danger">
                                  <font size=2>*please choose start time</font>
                                </div>
                               </div>
                    </div>

                    <label for="endTime">Choose Ending Time</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input #et="ngModel" required name="endTime" [(ngModel)]="endTime" type="text" id="endTime" class="form-control" placeholder="Enter date and time in specific format For eg. DD/MM/YYYY HH:MM:SS">
                        </div>
                        <div [hidden]="et.valid || et.untouched">
                            <div [hidden]="!et.errors?.required"  class="text-danger">
                                  <font size=2>*please choose end time</font>
                                </div>
                               </div>
                    </div>
                    <label for="topic">Enter Meeting Topic</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input #t="ngModel" required name="topic" [(ngModel)]="topic" type="text" id="topic" class="form-control" placeholder="Enter Meeting Topic">
                        </div>
                        <div [hidden]="t.valid || t.untouched">
                            <div [hidden]="!t.errors?.required"  class="text-danger">
                                  <font size=2>*please enter meeting topic</font>
                                </div>
                               </div>
                    </div>

                    <label for="agenda">Enter Meeting Agenda</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required #agen="ngModel" name="agenda" [(ngModel)]="agenda" type="text" id="agenda" class="form-control" placeholder="Enter Meeting Agenda">
                        </div>
                        <div [hidden]="agen.valid || agen.untouched">
                            <div [hidden]="!agen.errors?.required"  class="text-danger">
                                  <font size=2>*please enter meeting agenda</font>
                                </div>
                               </div>
                    </div>

                    <label for="minutesOfMeeting">Add Minutes of Meeting</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input #mom="ngModel" required name="minutesOfMeeting" [(ngModel)]="minutesOfMeeting" type="text" id="minutesOfMeeting" class="form-control" placeholder="Add Minutes of Meeting">
                        </div>
                        <div [hidden]="mom.valid || mom.untouched">
                            <div [hidden]="!mom.errors?.required"  class="text-danger">
                                  <font size=2>*please enter minutes of meeting</font>
                                </div>
                               </div>
                    </div>


                    <br>
                    <button [disabled] = "addEmpForm.invalid" (click)="updateItem()" type="button" class="btn btn-primary m-t-15 waves-effect">Update Meeting</button>
                    <p style="color: red; font-size: large; text-align: center;">{{ msg }}</p>
                    <p style="color: red; font-size: large; text-align: center;">{{ msg1 }}</p>
                    <p style="color: red; font-size: large; text-align: center;">{{ msg2 }}</p>
                  </form>
            </div>
        </div>
    </div>
</div>
</div>
</section>
