<app-header></app-header>

<section class="content">
    <div class="container-fluid">
        <!-- No Header Card -->

        <div class="container-fluid">
          <div class="block-header">


          </div>
          <button (click)="onback()" type="button" class="btn bg-orange waves-effect" style="color: white">BACK TO FLATS</button>
          <div class="card">
            <div class="header bg-orange">
                <h2>
                    FLAT OWNER DETAILS
                </h2>

            </div>
            <div class="body" style="font-size: 17px">

              <table>
                <tr>
                  <td style="color: #FF9800"><b>Owner Name :</b></td>
                  <td><b>{{name}}</b></td>
                </tr>
                <tr>
                    <td style="color: #FF9800"><b>Owner ContactNo  :</b></td>
                    <td><b>{{contactNo}}</b></td>
                  </tr>
                  <tr>
                      <td style="color: #FF9800"><b>Owner EmailId :</b></td>
                      <td><b>{{email}}</b></td>
                    </tr>
                    <tr>
                        <td style="color: #FF9800"><b>Flat Purchase Date :</b></td>
                        <td><b>{{dateOfPurchase}}</b></td>
                      </tr>
              </table>

            </div>
        </div>







      </div>

        </div>
        <!-- #END# No Header Card -->

</section>
